:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2e544d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #44776e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.w-full {
  width: 100%;
}
.w-24 {
  width: 6rem;
}

.h-8 {
  height: 2rem;
}

.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}

.item-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.boder-1 {
  border: 1px solid;
}

.border-collapse {
  border-collapse: collapse;
}